# ==========================================
# TELEGRAM BOT
# ==========================================



TIMEZONE=Asia/Jakarta

ADMIN_USERNAME=@ADMOnePercentsFX


# ==========================================
# MARKET DATA
# ==========================================

TWELVE_DATA_API_KEY=841e95162faf457e8d80207a75c3ca2c


# ==========================================
# ALPHA VANTAGE
# ==========================================

ALPHA_VANTAGE_API_KEY=52H118U7TX8SEROQ


# ==========================================
# FEDERAL RESERVE / FRED
# ==========================================

FRED_API_KEY=5aef9985ae6de0f28afcda099e76e029


# ==========================================
# BUREAU OF LABOR STATISTICS
# ==========================================

BLS_API_KEY=c508040c7b6243afb963e7dfb3a4f6cf


# ==========================================
# BUREAU OF ECONOMIC ANALYSIS
# ==========================================

BEA_API_KEY=966B3EE2-D761-48DA-A0C8-3E5E3AD82194

NEWS_PREPARE_MINUTES=30

ADMIN_CHAT_ID=1305881282

